//-----RADIO BUTTON-----//

input[type="radio"] {
    margin: 0;
    background: $primary-background;
    border: 2px solid $primary-interactive;
    height: 1.5rem;
    width: 1.5rem;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    cursor: pointer;
}
.radio-button{
    background: $primary-background;
    border: 2px solid $primary-interactive;
    height: 1.5rem;
    width: 1.5rem;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    cursor: pointer;
}

.radio-button:checked,
.radio-button:visited,
.radio-button:active,
.radio-button:checked:focus,
.radio-button::selection {
    background: $primary-background;
    border: 2px solid $primary-interactive;
}

//-----SELECT------//

select {
    padding: 0.5rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $primary-interactive;
}

//-----INPUT-----//

input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid $primary-interactive;
    width: -webkit-fill-available;
}

//-----BUTTONS-----//

button {
    padding: 1rem;
    border-radius: 16px;
    background-color: $primary-interactive;
    color: $secondary-text;
    border: none;
    cursor: pointer;
    min-width: 80px;
}


:root {
    --form-control-color: $primary-interactive;
  }
input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: $primary-text;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary-interactive;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary-interactive;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }